<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>Emre Can YILMAZ | ecylmz</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" 
    media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" 
    media="print" />
    <!--[if IE]>
      <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" 
      media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, 
    projection" />
</head>

<body>
  <div class="container">
    {% include logo %}
    <div id="main" class="span-15 prepend-1">
      <h3>00010011 Güncel</h3>
      {{ content }}
    </div>

    <div id="right" class="span-7 last" style="">
      {% include right %}
    </div>

    <div id="footer" class="span-24">
      <div id="footer-left" class="span-8 prepend-top">
        {% include about %}
      </div>

      <div id="footer-center"class="span-8 prepend-top">
        {% include contact %}
      </div>

      <div id="footer-right" class="span-8 prepend-top last">
      {% include formspring %}
      </div>
    </div>
      <b>Copyright &copy; , 2011 ecylmz | Designed by <a href="{{ site.url }}"> 
          ecylmz</a></b>
  </div>

  {% include analytics %}

</body>
</html>
