<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>Ondokuz Mayıs Üniversitesi Bilgisayar Mühendisliği</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" 
    media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" 
    media="print" />
    
    <!--[if IE]>
      <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" 
      media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen" />
    <link href="/css/menu.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <div class="container">
	<a href="{{site.url}}" /><img src="/images/logo1.gif" /> </a>
    <div id="left" class="span-5 colborder" style="margin-left:5px;">
      {% include left %}
    </div>
  
    <div id="main" class="span-12 colborder">
      {% include slider %}
      <h2>00010011 Güncel</h2>
      {{ content }}
    </div>

    <div id="right" class="span-5 last" style="margin-left:-10px;">
      {% include right %}
    </div>

    <div id="footer" class="span-24">
      footer'ı sonra doldururuz :)
    </div>

  </div>

  {% include analytics %}

</body>
</html>
